<!--Bootstrap source: https://bootsnipp.com/snippets/RlWnA-->
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <style>
        .marginauto {
            margin: auto;
            display: block;
        }
        </style>
<body>
<img src="/images/dsai.png" width="310" height="300" class="marginauto" />
<div class="container">
	<div class="row">
        
        <article class="col-md-4 well">
            <h3 class="page-header text-center">Temperature<br/><br/>
                <small>Add Description</small>
            </h3>
            <div class="text-center">
                <form class="" action="marker_map_plot" method="post">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="csvfile" value="">
                        <label class="custom-file-label">Choose file</label>
                    </div>
                    <input class="btn btn-success" type="submit" name="" value="Visualize">
                </form>
            </div>
        </article>

        <!-- -->
        <article class="col-md-4 well">
            <h3 class="page-header text-center">Bushfire Spread<br/><br/>
                <small>Add Description</small>
            </h3>
            <div class="text-center">
                <form class="" action="bushfire_spread_map" method="post">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="csvfile" value="">
                        <label class="custom-file-label">Choose file</label>
                    </div>
                    <input class="btn btn-warning" type="submit" name="" value="Visualize">
                </form>
            </div>
        </article>
        
        <!-- -->
        <article class="col-md-4 well">
            <h3 class="page-header text-center">Plot Coordinates<br/><br/>
                <small>Add Description</small>
            </h3>
            <div class="text-center">
                <form class="" action="marker_map_plot" method="post">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" name="csvfile" value="">
                        <label class="custom-file-label">Choose file</label>
                    </div>
                    <input class=" btn btn-primary" type="submit" name="" value="Visualize">
                </form>
            </div>
        </article>
	</div>
</div>

<script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>