<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_810fcb1557844a6eab91bc544c9de334 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_810fcb1557844a6eab91bc544c9de334" ></div>
        
</body>
<script>    
    
            var map_810fcb1557844a6eab91bc544c9de334 = L.map(
                "map_810fcb1557844a6eab91bc544c9de334",
                {
                    center: [-31.840233, 145.612793],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4983008a324c42078f78b51294cedb80 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
            var marker_eaaa9d1e3f84481aaea253f7ca6b985f = L.marker(
                [-33.9529, 151.1376],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_f94f7d2293394b51bf008625cfa4ba7f = L.popup({"maxWidth": "100%"});

        
            var html_ff4441029cd7424a85cdc86396633708 = $(`<div id="html_ff4441029cd7424a85cdc86396633708" style="width: 100.0%; height: 100.0%;">Rockdale</div>`)[0];
            popup_f94f7d2293394b51bf008625cfa4ba7f.setContent(html_ff4441029cd7424a85cdc86396633708);
        

        marker_eaaa9d1e3f84481aaea253f7ca6b985f.bindPopup(popup_f94f7d2293394b51bf008625cfa4ba7f)
        ;

        
    
    
            var marker_0b22140049af4013b2c3fc59bdb1d239 = L.marker(
                [-36.5013, 148.3104],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_322b0e54c63b4377adf8d650709384d3 = L.popup({"maxWidth": "100%"});

        
            var html_1c93177125f24c36a7ec483675546fa8 = $(`<div id="html_1c93177125f24c36a7ec483675546fa8" style="width: 100.0%; height: 100.0%;">Thredbo</div>`)[0];
            popup_322b0e54c63b4377adf8d650709384d3.setContent(html_1c93177125f24c36a7ec483675546fa8);
        

        marker_0b22140049af4013b2c3fc59bdb1d239.bindPopup(popup_322b0e54c63b4377adf8d650709384d3)
        ;

        
    
    
            var marker_c99d7078431045afb7d29028d76838cf = L.marker(
                [-35.2809, 149.13],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_de49baa4d671424a9fd236f149dff155 = L.popup({"maxWidth": "100%"});

        
            var html_16a50e9f0e194f8f815f0356f8cdf030 = $(`<div id="html_16a50e9f0e194f8f815f0356f8cdf030" style="width: 100.0%; height: 100.0%;">Canberra</div>`)[0];
            popup_de49baa4d671424a9fd236f149dff155.setContent(html_16a50e9f0e194f8f815f0356f8cdf030);
        

        marker_c99d7078431045afb7d29028d76838cf.bindPopup(popup_de49baa4d671424a9fd236f149dff155)
        ;

        
    
    
            var marker_7ddeffd6754b45b8b87f891b090cb448 = L.marker(
                [-35.0481, 150.7447],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_b1cb79e1064a480985d98c1d9c6c2d68 = L.popup({"maxWidth": "100%"});

        
            var html_d8cfacb51f284f65855fe38b4851074c = $(`<div id="html_d8cfacb51f284f65855fe38b4851074c" style="width: 100.0%; height: 100.0%;">Jervis Bay</div>`)[0];
            popup_b1cb79e1064a480985d98c1d9c6c2d68.setContent(html_d8cfacb51f284f65855fe38b4851074c);
        

        marker_7ddeffd6754b45b8b87f891b090cb448.bindPopup(popup_b1cb79e1064a480985d98c1d9c6c2d68)
        ;

        
    
    
            var marker_d19da45249724a19a07388915bf91a5d = L.marker(
                [-34.4278, 150.8931],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_083086f9c5544b21b29fb42b680729af = L.popup({"maxWidth": "100%"});

        
            var html_156b7a21f9c04d4991432236a3fa6e75 = $(`<div id="html_156b7a21f9c04d4991432236a3fa6e75" style="width: 100.0%; height: 100.0%;">Wollongong</div>`)[0];
            popup_083086f9c5544b21b29fb42b680729af.setContent(html_156b7a21f9c04d4991432236a3fa6e75);
        

        marker_d19da45249724a19a07388915bf91a5d.bindPopup(popup_083086f9c5544b21b29fb42b680729af)
        ;

        
    
    
            var marker_34d1fbd64b654104ad1e598ba10d8a8c = L.marker(
                [-32.9283, 151.7817],
                {}
            ).addTo(map_810fcb1557844a6eab91bc544c9de334);
        
    
        var popup_9878a2f2646e4d1ebc918d17e43d70c1 = L.popup({"maxWidth": "100%"});

        
            var html_209ded6ea922426f9979efaaa7d1ae3d = $(`<div id="html_209ded6ea922426f9979efaaa7d1ae3d" style="width: 100.0%; height: 100.0%;">New Castle</div>`)[0];
            popup_9878a2f2646e4d1ebc918d17e43d70c1.setContent(html_209ded6ea922426f9979efaaa7d1ae3d);
        

        marker_34d1fbd64b654104ad1e598ba10d8a8c.bindPopup(popup_9878a2f2646e4d1ebc918d17e43d70c1)
        ;

        
    
</script>