<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d4bac5ea832a48409afba653e4861f31 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d4bac5ea832a48409afba653e4861f31" ></div>
        
</body>
<script>    
    
            var map_d4bac5ea832a48409afba653e4861f31 = L.map(
                "map_d4bac5ea832a48409afba653e4861f31",
                {
                    center: [-31.840233, 145.612793],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1f775e48197f457e8fadd26ccb09e3e8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
            var marker_f140c62a36164873aa26fac1c5a96d3b = L.marker(
                [-33.9529, 151.1376],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_5e91d1c8ef5f49b0b2b5c68a6273b455 = L.popup({"maxWidth": "100%"});

        
            var html_f3af2d32f36c4a4aaddc6eb0585368db = $(`<div id="html_f3af2d32f36c4a4aaddc6eb0585368db" style="width: 100.0%; height: 100.0%;">Rockdale</div>`)[0];
            popup_5e91d1c8ef5f49b0b2b5c68a6273b455.setContent(html_f3af2d32f36c4a4aaddc6eb0585368db);
        

        marker_f140c62a36164873aa26fac1c5a96d3b.bindPopup(popup_5e91d1c8ef5f49b0b2b5c68a6273b455)
        ;

        
    
    
            var marker_e2036bff95884b8a88837955440fab85 = L.marker(
                [-36.5013, 148.3104],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_3b636afb74944dfda3b8ebf18af8647c = L.popup({"maxWidth": "100%"});

        
            var html_d1c45dfd54ad46cb9fe9e9ebf73f8753 = $(`<div id="html_d1c45dfd54ad46cb9fe9e9ebf73f8753" style="width: 100.0%; height: 100.0%;">Thredbo</div>`)[0];
            popup_3b636afb74944dfda3b8ebf18af8647c.setContent(html_d1c45dfd54ad46cb9fe9e9ebf73f8753);
        

        marker_e2036bff95884b8a88837955440fab85.bindPopup(popup_3b636afb74944dfda3b8ebf18af8647c)
        ;

        
    
    
            var marker_687ba3344f48427f95c33af16f763d31 = L.marker(
                [-35.2809, 149.13],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_c5ac3586448f4a04b226ccc55d6948a8 = L.popup({"maxWidth": "100%"});

        
            var html_6a5b852127f04dc88e81f33af9967639 = $(`<div id="html_6a5b852127f04dc88e81f33af9967639" style="width: 100.0%; height: 100.0%;">Canberra</div>`)[0];
            popup_c5ac3586448f4a04b226ccc55d6948a8.setContent(html_6a5b852127f04dc88e81f33af9967639);
        

        marker_687ba3344f48427f95c33af16f763d31.bindPopup(popup_c5ac3586448f4a04b226ccc55d6948a8)
        ;

        
    
    
            var marker_fa191123868f49e89e3e0b55bfd3700d = L.marker(
                [-35.0481, 150.7447],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_bdfc262ab20049f7ba15b766c155f97e = L.popup({"maxWidth": "100%"});

        
            var html_f2a6007d82c243c08ce1e6c511856f95 = $(`<div id="html_f2a6007d82c243c08ce1e6c511856f95" style="width: 100.0%; height: 100.0%;">Jervis Bay</div>`)[0];
            popup_bdfc262ab20049f7ba15b766c155f97e.setContent(html_f2a6007d82c243c08ce1e6c511856f95);
        

        marker_fa191123868f49e89e3e0b55bfd3700d.bindPopup(popup_bdfc262ab20049f7ba15b766c155f97e)
        ;

        
    
    
            var marker_29a82018db574fc9b8579576172399ef = L.marker(
                [-34.4278, 150.8931],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_16f62418fa404629ba242a90b0764720 = L.popup({"maxWidth": "100%"});

        
            var html_36e245ea1a3f49b28227c5736189cfd2 = $(`<div id="html_36e245ea1a3f49b28227c5736189cfd2" style="width: 100.0%; height: 100.0%;">Wollongong</div>`)[0];
            popup_16f62418fa404629ba242a90b0764720.setContent(html_36e245ea1a3f49b28227c5736189cfd2);
        

        marker_29a82018db574fc9b8579576172399ef.bindPopup(popup_16f62418fa404629ba242a90b0764720)
        ;

        
    
    
            var marker_acd83131a9974e6d8d16a025762d4edf = L.marker(
                [-32.9283, 151.7817],
                {}
            ).addTo(map_d4bac5ea832a48409afba653e4861f31);
        
    
        var popup_ae531e81920c465eb9fc06e7d1233a4e = L.popup({"maxWidth": "100%"});

        
            var html_a4cc185a95864353a7cb578b433a0e42 = $(`<div id="html_a4cc185a95864353a7cb578b433a0e42" style="width: 100.0%; height: 100.0%;">New Castle</div>`)[0];
            popup_ae531e81920c465eb9fc06e7d1233a4e.setContent(html_a4cc185a95864353a7cb578b433a0e42);
        

        marker_acd83131a9974e6d8d16a025762d4edf.bindPopup(popup_ae531e81920c465eb9fc06e7d1233a4e)
        ;

        
    
</script>